@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a:focus {
    outline: thin dotted;
}
a:hover,
a:active {
    outline: 0;
}

table {
    border-collapse: collapse; 
    border-spacing: 0; 
    font-size: inherit;
    width: 100%;
}
th {
    text-align: left;
}

ul,dl,ol {
    text-indent: 0;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: top;
}
 
.cf:after {
    content: "";
    display: block;
    clear:both;
}

/*
    html5への対応
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight: normal;
    background:transparent;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,main { 
    display: block;
}

/* setting
------------------------ */
.mb5{ margin-bottom: 5px;}
.mb10 { margin-bottom:10px;}
.mb15 { margin-bottom:15px;}
.mb20 { margin-bottom:20px;}
.mb25 { margin-bottom:25px;}
.mb35 { margin-bottom:35px;}
.mb40 { margin-bottom:40px;}
.mb45 { margin-bottom:45px;}
.mt5{ margin-top: 5px;}
.mt10{ margin-top: 10px;}
.mt20{ margin-top: 20px;}
.ml20{ margin-left: 20px;}

.nb{ border: none; border: 0;}
.left{ float: left;}
.right{ float: right;}

.fs10{ font-size:10px; line-height:14px;}
.fs12{ font-size:12px; line-height:16px;}
.fs14{ font-size:14px; line-height:18px;}
.fs16{ font-size:16px; line-height:20px;}

.t_center{ text-align: center;}
.t_right{ text-align: right;}

.font_b{ font-weight: bold;}

button,
input {
    line-height: normal;
}

input,
textarea {
    border: none;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
    padding: 2px;
}
input:focus,
textarea:focus {
    outline: none;
}


button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* Buttons */

button,
.contributor-posts-link,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background-color: #fff;
    border: none;
    color: #333;
    font-size: 12px;
    padding: 0;
    text-transform: uppercase;
    vertical-align: bottom;
}

a,
a:hover {
    color: #333;
    text-decoration: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
a:hover {
    text-decoration: underline;
}
a img {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
a:hover img {
    filter: alpha(opacity=75);
    opacity: 0.75;
}
noscript {
    text-align: cetner;
}
address,
i {
    font-style: normal;
}


@media only screen and (max-width: 768px) {


a:hover {
    text-decoration: none;
}
a:hover img {
    filter: alpha(opacity=100);
    opacity: 1;
}

}