small {
  font-size: 70%;
}
#fusumas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#fusuma-canvas {
    width:100%;
    height:480px;
    display:block;
    margin: 0;
}
#fusuma-canvas .fusuma-thumb {
  position: relative;
  width:140px;
  height: 100px;
  display: block;
  background-size: cover;
  background-position: center;
  margin: 10px 0;
}
#fusuma-canvas .fusuma-thumb-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  color: #fff;
  text-align: center;
  padding: 40px 0;
}
#fusuma-canvas .fusuma-thumb-overlay>span {
}

#fusuma-info {
}

.fusuma-controls {
  /*background: #1c1c1c;*/
  background: #4b4b4b;
  border-radius: 2px;
  width: 200px;
  margin: 0 auto;
  z-index:3;
  position:relative;
}
.fusuma-controls button {
  padding: 2px 0px;
  background-color: transparent;
  vertical-align: middle;
}

.fusuma-controls button::before{
  content:"";
  display:inline-block;
  width: 18px;
  height:18px;
  vertical-align:middle;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  margin: 0 10px 0;
}

#fusuma-zoom {
  
}
#play-icon::before {
  background-image: url("../imgs/play-icon.png");
  background-size: 11px 16px;
}
#left-icon::before {
  background-image: url("../imgs/prev-icon.png");
  background-size: 11px 16px;
}
#right-icon::before {
  background-image: url("../imgs/next-icon.png");
  background-size: 11px 16px;
}
#fusuma-zoom::before{
  background-image: url("../imgs/icomoon_5_icons/PNG/search.png");
}
#fusuma-loupe-canvas {
  z-index:2;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius:100px;
  border: 4px solid #4b4b4b;
  visibility: hidden;
}
.fusuma-info-memo {
  margin-bottom: 1em;
}
.fusuma-info-memo>.info {
  vertical-align: top;
}
.fusuma-info-memo>.fusuma-detail {
  width: 14em;
  text-align:left;
}

#loading-text {
  position: absolute;
  top: 50px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 2px 4px;
  width: 8em;
  left: 0;
}

.loading-gif {
  height: 2.1em;
}