@charset "UTF-8";

/* ==========================================================
 common css
========================================================== */
/* pc
---------------------------------------------------------- */
.only-pc {}
.only-sp,
.no-pc { display: none !important;}
.no-sp {}
/* sp
---------------------------------------------------------- */
@media screen and (max-width: 768px) {
    .only-pc,
    .no-sp,
    .only-tb { display: none !important;}
    .only-sp,
    .no-pc { display: block !important;}
    img.only-sp,
    img.no-pc { display: inline-block !important;}
}

/* ==========================================================
 wrapper css
========================================================== */
#fusumakarakuri {
    font-size: 1.6em;
    line-height: 2;
}
@media screen and (max-width: 768px) {
    #fusumakarakuri {
        font-size: 1.4em;
    }
}
#fusumakarakuri h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #59493f;
}
@media screen and (max-width: 768px) {
    #fusumakarakuri h3 {
        font-size: 1.4em;
    }
}

/* breadCrumbList */
#fusumakarakuri .breadCrumbList {
    max-width: 1000px;
    margin: 20px auto 0;
    font-size: 0.9em;
}
#fusumakarakuri .breadCrumbList a {
    color: #3880ca;
}
@media screen and (max-width: 768px) {
    #fusumakarakuri .breadCrumbList {
        padding: 0 15px;
        margin: 10px auto 10px;
        font-size: 0.8em;
    }
}

/* maincontents */
#fusumakarakuri .fusumakarakuriMain {
    max-width: 1000px;
    margin: 0 auto;
}
#fusumakarakuri .fusumakarakuriMain .contentsInner {}
#fusumakarakuri .fusumakarakuriMain h2 {}
#fusumakarakuri .fusumakarakuriMain p.btn {
    margin: -45px 45px 0 0;
    text-align: right;
}
@media screen and (max-width: 768px) {
    #fusumakarakuri .fusumakarakuriMain {
        position: relative;
        max-width: none;
    }
    #fusumakarakuri .fusumakarakuriMain .contentsInner {}
    #fusumakarakuri .fusumakarakuriMain h2 {
        margin-top: 45px;
    }
    #fusumakarakuri .fusumakarakuriMain p.btn {
        position: absolute;
        bottom: 2.3em;
        left: 20%;
        width: 59.333%;
        margin: 0 auto;
    }
}

/* contents */
#fusumakarakuri .fusumakarakuriSection {
    max-width: 720px;
    margin: 0 auto;
}
#fusumakarakuri .fusumakarakuriSection .contentsInner {}
#fusumakarakuri .fusumakarakuriSection .sec {
    margin-top: 75px;
}
#fusumakarakuri .fusumakarakuriSection .sec p.txt {
    margin-top: 35px;
}
#fusumakarakuri .fusumakarakuriSection .sec p.img {
    text-align: center;
    margin-top: 45px;
}
@media screen and (max-width: 768px) {
    #fusumakarakuri .fusumakarakuriSection {
        max-width: none;
        margin: 0 auto;
        padding: 0 15px;
    }
    #fusumakarakuri .fusumakarakuriSection .contentsInner {}
    #fusumakarakuri .fusumakarakuriSection .sec {
        margin-top: 46px;
    }
    #fusumakarakuri .fusumakarakuriSection .sec p.txt {
        margin-top: 25px;
    }
    #fusumakarakuri .fusumakarakuriSection .sec p.img {
        margin-top: 25px;
    }
}

/* navcontents */
#fusumakarakuri .fusumakarakuriNav {
    margin-top: 70px;
    padding: 80px 0 75px;
    background: #fbf9e3;
}
#fusumakarakuri .fusumakarakuriNav .contentsInner {
    max-width: 1010px;
    margin: 0 auto;
}
#fusumakarakuri .fusumakarakuriNav .navContents {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}
#fusumakarakuri .fusumakarakuriNav .navContents .navList {
    width: 317px;
    margin-left: 29px;
}
#fusumakarakuri .fusumakarakuriNav .navContents .navList:nth-child(3n+1) {
    margin-left: 0;
}
#fusumakarakuri .fusumakarakuriNav .navContents .navList p.img {}
#fusumakarakuri .fusumakarakuriNav .navContents .navList p.btn {
    margin-top: 6px;
}
@media screen and (max-width: 768px) {
    #fusumakarakuri .fusumakarakuriNav {
        margin-top: 50px;
        padding: 20px 0 47px ;
    }
    #fusumakarakuri .fusumakarakuriNav .contentsInner {
        max-width: none;
    }
    #fusumakarakuri .fusumakarakuriNav .navContents {
        flex-wrap: wrap;
    }
    #fusumakarakuri .fusumakarakuriNav .navContents .navList {
        width: 85.333%;
        margin: 20px 0 0;
    }
    #fusumakarakuri .fusumakarakuriNav .navContents .navList p.img {}
    #fusumakarakuri .fusumakarakuriNav .navContents .navList p.btn {
        margin-top: 25px;
    }
}

/* contact */
#fusumakarakuri .fusumakarakuriContact {
    padding: 80px 0 90px;
}
#fusumakarakuri .fusumakarakuriContact .contentsInner {
    max-width: 1010px;
    margin: 0 auto;
    text-align: center;
}
#fusumakarakuri .fusumakarakuriContact h3 {}
#fusumakarakuri .fusumakarakuriContact h4 {
    font-weight: bold;
}
#fusumakarakuri .fusumakarakuriContact p.txt01 {
    font-size: 0.8em;
}
#fusumakarakuri .fusumakarakuriContact p.txt02 {
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
    color: #42944f;
}
@media screen and (max-width: 768px) {
    #fusumakarakuri .fusumakarakuriContact {
        padding: 40px 0 50px;
    }
    #fusumakarakuri .fusumakarakuriContact .contentsInner {}
    #fusumakarakuri .fusumakarakuriContact h3 {}
    #fusumakarakuri .fusumakarakuriContact h4 {
        font-size: 1.2em;
    }
    #fusumakarakuri .fusumakarakuriContact p.txt01 {
        font-size: 1em;
    }
    #fusumakarakuri .fusumakarakuriContact p.txt02 {
        font-size: 0.9em;
    }
}


