@charset "UTF-8";

/* ==========================================================
 contents css
========================================================== */

/* fusumakarakuriMain */
#fusumakarakuri .fusumakarakuriMain {
		max-width: 1000px;
		margin: 0 auto;
}
@media screen and (max-width: 768px) {
	#fusumakarakuri .fusumakarakuriMain {}
}

/*sec01
---------------------*/
#fusumakarakuri .sec01 {
	margin: 47px 0 145px;
}
@media screen and (max-width: 768px) {
	#fusumakarakuri .sec01 {
		margin: 30px 0 25px;
	}
}
	#fusumakarakuri .sec01 .sec01Inner {}
	@media screen and (max-width: 768px) {
		#fusumakarakuri .sec01 .sec01Inner {}
	}

	#fusumakarakuri .sec01 .sec01Inner p.img {}
	@media screen and (max-width: 768px) {
		#fusumakarakuri .sec01 .sec01Inner p.img {}
	}

	#fusumakarakuri .sec01 .sec01Inner p.btn {
		width: 309px;
		margin: -145px auto 0;

	}
	@media screen and (max-width: 768px) {
		#fusumakarakuri .sec01 .sec01Inner p.btn {
			width: 71.067%;
			margin: -25px auto 0;
		}
	}

/*sec02
---------------------*/
#fusumakarakuri .sec02 {
	margin-top: 70px;
	padding: 70px 40px 45px;
	background: #fef4e8;
}
@media screen and (max-width: 768px) {
	#fusumakarakuri .sec02 {
		margin-top: 37px;
		padding: 45px 15px;
	}
}
	#fusumakarakuri .sec02 .sec02Inner {}
	@media screen and (max-width: 768px) {
		#fusumakarakuri .sec02 .sec02Inner {}
	}
	#fusumakarakuri .sec02 h3 {
		width: 230px;
		margin: 0 auto;
	}
	@media screen and (max-width: 768px) {
		#fusumakarakuri .sec02 h3 {
			width: 43.913%;
			margin: 0 auto;
		}
	}
	#fusumakarakuri .sec02 .subTitle {
		width: 586px;
		margin: 30px auto 0;
	}
	@media screen and (max-width: 768px) {
		#fusumakarakuri .sec02 .subTitle {
		width: 100%;
		margin: 20px auto 0;
		}
	}
	#fusumakarakuri .sec02 .qaContentsWrrper {
	margin-left: -30px;
	}
	#fusumakarakuri .sec02 .qaContents {
		margin-top: 30px;
		float: left;
		width: 443px;
		margin-left: 30px
	}
	@media screen and (max-width: 768px) {
		#fusumakarakuri .sec02 .qaContents {
			margin-top: 30px;
			float: none;
			width: 100%;
			margin-left: 0
		}
	}
		#fusumakarakuri .sec02 .qaContents .qaContentsList {
			width: 443px;
			margin-top: 40px;
			background: #fff;
			border-radius: 7px;
			-webkit-border-radius: 7px;
		}
		@media screen and (max-width: 768px) {
			#fusumakarakuri .sec02 .qaContents .qaContentsList {
				width: 100%;
				margin-top: 40px;
			}
		}
		/*
		#fusumakarakuri .sec02 .qaContents .qaContentsList:nth-child(odd) { float: left; }
		@media screen and (max-width: 768px) {
			#fusumakarakuri .sec02 .qaContents .qaContentsList:nth-child(odd) { float: none; }
		}
		#fusumakarakuri .sec02 .qaContents .qaContentsList:nth-child(even) { float: right; }
		@media screen and (max-width: 768px) {
			#fusumakarakuri .sec02 .qaContents .qaContentsList:nth-child(even) { float: none; }
		}
		#fusumakarakuri .sec02 .qaContents .qaContentsList:nth-child(2n+1) { clear: both; }
		@media screen and (max-width: 768px) {}
		*/
			#fusumakarakuri .sec02 .qaContents .qaContentsList a {
				text-decoration: none;
				cursor: pointer;
			}
			@media screen and (max-width: 768px) {}
			#fusumakarakuri .sec02 .qaContents .qaContentsList p.ico {
				width: 62px;
				margin: 0 auto;
			}
				#fusumakarakuri .sec02 .qaContents .qaContentsList p.ico img {
					margin: -20px auto 0;
				}
			@media screen and (max-width: 768px) {
				#fusumakarakuri .sec02 .qaContents .qaContentsList p.ico {
					width: 11.884%;
					margin: 0 auto;
				}
				#fusumakarakuri .sec02 .qaContents .qaContentsList p.ico img {
					margin: -20px auto 0;
				}
			}
			#fusumakarakuri .sec02 .qaContents .qaContentsList p.questionContents {}
			@media screen and (max-width: 768px) {}
				#fusumakarakuri .sec02 .qaContents .qaContentsList.type01 p.questionContents {
					margin: -7px 0 0;
				}
				#fusumakarakuri .sec02 .qaContents .qaContentsList.type02 p.questionContents {
					margin: -30px 0 0;
				}
				#fusumakarakuri .sec02 .qaContents .qaContentsList.type03 p.questionContents {
					margin: -7px 0 0;
				}
				#fusumakarakuri .sec02 .qaContents .qaContentsList.type04 p.questionContents {
					margin: 25px 0 0;
				}
				#fusumakarakuri .sec02 .qaContents .qaContentsList.type05 p.questionContents {
					margin: 5px 0 0;
				}
				#fusumakarakuri .sec02 .qaContents .qaContentsList.type06 p.questionContents {
					margin: -5px 0 0;
				}
				#fusumakarakuri .sec02 .qaContents .qaContentsList.type07 p.questionContents {
					margin: -25px 0 0;
				}
				#fusumakarakuri .sec02 .qaContents .qaContentsList.type08 p.questionContents {
					margin: 7px 0 0;
				}
				@media screen and (max-width: 768px) {
					#fusumakarakuri .sec02 .qaContents .qaContentsList.type01 p.questionContents,
					#fusumakarakuri .sec02 .qaContents .qaContentsList.type02 p.questionContents,
					#fusumakarakuri .sec02 .qaContents .qaContentsList.type03 p.questionContents,
					#fusumakarakuri .sec02 .qaContents .qaContentsList.type04 p.questionContents,
					#fusumakarakuri .sec02 .qaContents .qaContentsList.type05 p.questionContents,
					#fusumakarakuri .sec02 .qaContents .qaContentsList.type06 p.questionContents,
					#fusumakarakuri .sec02 .qaContents .qaContentsList.type07 p.questionContents,
					#fusumakarakuri .sec02 .qaContents .qaContentsList.type08 p.questionContents {
						margin: 0;
					}
				}
			#fusumakarakuri .sec02 .qaContents .qaContentsList p.answerContents {
				display: none;
				margin-top: 15px;
				padding: 0 30px;
			}
			@media screen and (max-width: 768px) {}

			#fusumakarakuri .sec02 .qaContents .qaContentsList p.answerContents.is-show {
				display: block;
			}
			@media screen and (max-width: 768px) {}

			#fusumakarakuri .sec02 .qaContents .qaContentsList p.btn {
				margin-top: 20px;
				border-radius: 0 0 7px 7px;
				-webkit-border-radius: 0 0 7px 7px;
			}
			@media screen and (max-width: 768px) {}
			#fusumakarakuri .sec02 .qaContents .qaContentsList p.btn:hover {
				opacity: .7;
			}
				#fusumakarakuri .sec02 .qaContents .qaContentsList.type01 p.btn { background: #e77e6c; }
				#fusumakarakuri .sec02 .qaContents .qaContentsList.type02 p.btn { background: #81b627; }
				#fusumakarakuri .sec02 .qaContents .qaContentsList.type03 p.btn { background: #7389c1; }
				#fusumakarakuri .sec02 .qaContents .qaContentsList.type04 p.btn { background: #e69400; }
				#fusumakarakuri .sec02 .qaContents .qaContentsList.type05 p.btn { background: #62b795; }
				#fusumakarakuri .sec02 .qaContents .qaContentsList.type06 p.btn { background: #e784a1; }
				#fusumakarakuri .sec02 .qaContents .qaContentsList.type07 p.btn { background: #43b5b9; }
				#fusumakarakuri .sec02 .qaContents .qaContentsList.type08 p.btn { background: #ac7aae; }

				#fusumakarakuri .sec02 .qaContents .qaContentsList p.btn span {
					position: relative;
					display: block;
					width: 100%;
					height: 18px;
					padding: 20px 0;
					text-indent: -9999px;
					background: url(/fusumakarakuri/common/img/btn_question_open.png) no-repeat left 165px top 10px;
				}
				@media screen and (max-width: 768px) {
					#fusumakarakuri .sec02 .qaContents .qaContentsList p.btn span {
						position: relative;
						display: block;
						width: 100%;
						height: 13px;
						background: url(/fusumakarakuri/common/img/smp_btn_question_open.png) no-repeat center center;
						background-size: 80px;
					}
				}
				#fusumakarakuri .sec02 .qaContents .qaContentsList .is-active p.btn span {
					display: block;
					width: 100%;
					height: 18px;
					text-indent: -9999px;
					background: url(/fusumakarakuri/common/img/btn_question_close.png) no-repeat left 185px top 10px;
				}
				@media screen and (max-width: 768px) {
					#fusumakarakuri .sec02 .qaContents .qaContentsList .is-active p.btn span {
						display: block;
						width: 100%;
						height: 13px;
						text-indent: -9999px;
						background: url(/fusumakarakuri/common/img/smp_btn_question_close.png) no-repeat center center;
						background-size: 40px;
					}
				}
					#fusumakarakuri .sec02 .qaContents .qaContentsList p.btn span em {
						position: absolute;
						top: 13px;
						right: 160px;
						width: 22px;
						height: 14px;
						background: url(/fusumakarakuri/common/img/ico_question_open.png ) no-repeat left top;
					}
					@media screen and (max-width: 768px) {
						#fusumakarakuri .sec02 .qaContents .qaContentsList p.btn span em {
							position: absolute;
							top: 42%;
							right: 33%;
							width: 13px;
							height: 8px;
							background: url(/fusumakarakuri/common/img/smp_ico_question_open.png ) no-repeat left top;
							background-size: contain;
							-webkit-background-size: contain;
						}
					}
					#fusumakarakuri .sec02 .qaContents .qaContentsList .is-active p.btn span em {
						position: absolute;
						top: 12px;
						right: 168px;
						width: 22px;
						height: 14px;
						background: url(/fusumakarakuri/common/img/ico_question_close.png ) no-repeat left top;
					}
					@media screen and (max-width: 768px) {
						#fusumakarakuri .sec02 .qaContents .qaContentsList .is-active p.btn span em {
							position: absolute;
							top: 42%;
							right: 38%;
							width: 13px;
							height: 8px;
							background: url(/fusumakarakuri/common/img/smp_ico_question_close.png ) no-repeat left top;
							background-size: contain;
							-webkit-background-size: contain;
						}
					}

/*sec03
---------------------*/
#fusumakarakuri .sec03 {
	margin-top: 90px;
}
@media screen and (max-width: 768px) {
	#fusumakarakuri .sec03 {
		margin-top: 45px;
		padding: 0 15px;
	}
}
	#fusumakarakuri .sec03 .sec03Inner {}
	@media screen and (max-width: 768px) {
		#fusumakarakuri .sec03 .sec03Inner {}
	}
	#fusumakarakuri .sec03 h3 {
		width: 582px;
		margin: 0 auto;
	}
	@media screen and (max-width: 768px) {
		#fusumakarakuri .sec03 h3 {
			width: 100%;
			margin: 0 auto;
		}
	}
	#fusumakarakuri .sec03 .subTitle {
		width: 636px;
		margin: 30px auto 0;
	}
	@media screen and (max-width: 768px) {
		#fusumakarakuri .sec03 .subTitle {
		width: 100%;
		margin: 20px auto 0;
		}
	}





/* !module modal
---------------------------------------------------------- */
.remodal {
	max-width: 100%;
	box-sizing: border-box;
	width: auto;
	margin-bottom: 0;
	padding: 20px 15px;
	border-radius: 3px ;
	transform: translate3d(0, 0, 0);
	color: #2b2e38;
	background: nones;
	font-size: 16px;
	line-height: 2;
	text-align: left;
}
/*@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 100%;
  }
}*/
.modal-item-in {}
.remodal-wrapper {
	padding: 5em 0;
}
	.remodal .remodal-contents {
		transform: translate3d(0, 0, 0);
		max-width: 100%;
		padding: 0px 0 1em;
		width: 1000px;
		max-height: 570px;
		background: #fff;
		border-radius: 3px;
	}

	.remodal .remodal-close {
		position: absolute;
		top: -1.5em;
		left: auto;
		right: 0em;
	}
	.remodal .remodal-close:before {
		display: none;
	}
		.remodal .remodal-close img {
			width: 35px;
			height: 35px;
		}
		.remodal .remodal-close img:hover {
			opacity: .9;
		}
	.remodal h4 {
		display: table;
		width: 100%;
		padding: 0 0 15px;
		background: url(/fusumakarakuri/common/img/modal_bg_01.png) repeat-x left bottom;
	}

	.remodal .remodal-cancel {
		display: block;
		margin: 0px auto 0px;
		padding: 0;
		background: none;
	}
		.remodal .remodal-cancel img {
			width: 306px;
		}
		.remodal .remodal-cancel img:hover {
			opacity: .8;
		}

@media screen and (max-width: 768px) {
.remodal {
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 0;
	padding: 25px 0;
	border-radius: 3px ;
	transform: translate3d(0, 0, 0);
	color: #2b2e38;
	background: nones;
	font-size: 14px;
	line-height: 2;
	text-align: left;
}
.modal-item-in {}
.remodal-wrapper {
	padding: 0;
}
.remodal img {
	max-width: 100%;
}
	.remodal .remodal-contents {
		transform: translate3d(0, 0, 0);
		max-width: 100%;
		overflow-y: visible;
		margin: 0 0px;
		padding: 0 0px 1em 0px ;
		width: 100%;
		max-height: 570px;
		border-radius: 3px;
	}
	/*.remodal .remodal-contents{overflow-y: scroll;}*/
	.remodal .remodal-close {
		position: absolute;
		top: -1.5em;
		left: auto;
		right: 0em;
}
	.remodal .remodal-close:before {
		display: none;
	}
		.remodal .remodal-close img {
			width: 28px;
			height: 28px;
		}
}

/* remodal内 テキスト情報*/
.remodal-contents  > ul li {
	text-align: center;
}
.remodal .box-info {
	text-align: center;
	margin: 0px auto;
	width: 400px;
	padding: 0 15px;
	max-width: 100%;
}
.remodal .box-info .title {
	display: block;
	font-size: 1.5em;
}
.remodal .box-info .list-info {
	/*width: fit-content;*/
	/*width: -moz-fit-content;*/
	margin: 0 auto;
}
.remodal .box-info ul li {
	width: auto;
	display: table;
}
.remodal .box-info .info,
.remodal .box-info .detail {
	display: table-cell;
}





/* contact */
#fusumakarakuri .fusumakarakuriContact {
	padding: 80px 0 90px;
}
#fusumakarakuri .fusumakarakuriContact .contentsInner {
	max-width: 1010px;
	margin: 0 auto;
	text-align: center;
}
#fusumakarakuri .fusumakarakuriContact h3 {}
#fusumakarakuri .fusumakarakuriContact h4 {
	font-weight: bold;
}
#fusumakarakuri .fusumakarakuriContact p.txt01 {
	font-size: 0.8em;
}
#fusumakarakuri .fusumakarakuriContact p.txt02 {
	margin-top: 10px;
	font-size: 0.8em;
	font-weight: bold;
	color: #42944f;
}
@media screen and (max-width: 768px) {
	#fusumakarakuri .fusumakarakuriContact {
		padding: 40px 0 50px;
	}
	#fusumakarakuri .fusumakarakuriContact .contentsInner {}
	#fusumakarakuri .fusumakarakuriContact h3 {}
	#fusumakarakuri .fusumakarakuriContact h4 {
		font-size: 1.2em;
	}
	#fusumakarakuri .fusumakarakuriContact p.txt01 {
		font-size: 1em;
	}
	#fusumakarakuri .fusumakarakuriContact p.txt02 {
		font-size: 0.9em;
	}
}

/* ギャラリー*/
#fusumakarakuri .gallery {
	padding: 70px 40px 45px;
	background: #fef4e8;
}
#fusumakarakuri .gallery h3 {
	margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
	#fusumakarakuri .gallery h3 {
		margin-bottom: 30px;
	}
}
#fusumakarakuri .gallery ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	max-width: 1040px;
	margin: 0 auto;

}
#fusumakarakuri .gallery ul li {
	width: 306px;
	margin: 0 20px 60px;
}
#fusumakarakuri .gallery ul li a {
	display: block;
}

#fusumakarakuri .gallery ul li .txt {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 4px;
}
@media screen and (max-width: 768px) {
	#fusumakarakuri .gallery {
		padding: 50px 15px;
	}
	#fusumakarakuri .gallery ul li {
		width: calc(50% - 15px);
		margin: 0 0 35px 0;
	}
	#fusumakarakuri .gallery ul li .txt {
		margin-top: 15px;
	}

	#fusumakarakuri .gallery ul li:nth-child(even){
		margin-left: 15px;
	}
	#fusumakarakuri .gallery ul li a,
	#fusumakarakuri .gallery ul li img {
		width: 100%;
	}
}
