body {
    color: #333;
    font-size: 10px;
    line-height: 1.5;
}
body .inner {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
body .inner:after {
    content: "";
    display: block;
    clear: both;
}


/* header
--------------------------------------*/
body > header:after {
    content: "";
    display: block;
    clear: both;
}
.navBg {
    display: none;
}
body > header {
    min-width: 1000px;
    border-top: solid 3px #4f9cb8;
}
body.menuFixed > header {
    width: 100%;
    height: 60px;
    border-bottom: solid 1px #dfdede;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 4;
}
body > header h1 {
    float: left;
}
body > header h1 .common {
    height: 40px;
    margin-top: 25px;
}
body.menuFixed > header h1 .common {
    margin-top: 10px;
}
#globalNavi {
    float: right;
}
#globalNavi #headerLogoToggle {
    display: none;
}

#globalNavi > ul:after {
    content: "";
    display: block;
    clear: both;
}
#globalNavi > ul > li {
    float: left;
}
#globalNavi > ul > li > a {
    display: block;
    height: 87px;
    padding: 38px 0 34px;
    position: relative;
}
body.menuFixed #globalNavi > ul > li > a {
    height: 57px;
    padding: 22px 0 20px;
}
#globalNavi > ul > li > a span {
    display: block;
    padding: 0 15px;
    border-right: solid 1px #dfdede;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}
#globalNavi > ul > li:first-child > a span {
    border-left: solid 1px #dfdede;
}
#globalNavi > ul > li#gNavOffice:hover > a:after,
#globalNavi > ul > li#gNavKanko:hover > a:after,
#globalNavi > ul > li#gNavTimes:hover > a:after {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
    margin-left: -5px;
    background-image: url(../img/parts.png);
    background-repeat: no-repeat;
    background-position: -330px -20px;
    position: absolute;
    left: 50%;
    bottom: 12px;
}
#globalNavi > ul > li#gNavOffice > a span,
#globalNavi > ul > li#gNavKanko > a span,
#globalNavi > ul > li#gNavTimes > a span,
#globalNavi > ul > li#gNavFacebook > a span {
    height: 18px;
    margin-top: -1px;
    background-image: url(../img/gnavi_pc.png);
    background-repeat: no-repeat;
}
#globalNavi > ul > li#gNavOffice > a span {
    width: 134px;
    background-position: 15px 0;
}
#globalNavi > ul > li#gNavKanko > a span {
    width: 168px;
    background-position: -126px 0;
}
#globalNavi > ul > li#gNavTimes > a span {
    width: 108px;
    background-position: -300px 0;
}
#globalNavi > ul > li#gNavFacebook > a span {
    width: 175px;
    background-position: -409px 0;
}
#globalNavi > ul > li#gNavEnglish > a span {
    width: 115px;
    height: 24px;
    margin-top: -5px;
    padding: 0;
    border: none;
    border-left: solid 15px #fff;
    background-image: url(../img/parts.png);
    background-repeat: no-repeat;
    background-position: -220px 0;
}
#globalNavi > ul li.search.pc a span {
    text-indent: 0;
    white-space: normal;
}
#globalNavi > ul li.search.pc a span:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/parts.png);
    background-repeat: no-repeat;
    background-position: -416px -30px;
}
#globalNavi ul li.sp {
    display: none;
}
#globalNavi ul li ul {
    visibility: hidden;
    width: 1000px;
    padding: 30px 32px;
    background: #f5f5f5;
    position: absolute;
    top: 87px;
    left: 0;
    z-index: 4;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
body.menuFixed #globalNavi ul li ul {
    top: 57px;
}
#globalNavi > ul > li:hover ul {
    visibility: visible;
    filter: alpha(opacity=100);
    opacity: 1;
}
#globalNavi ul li ul:after {
    content: "";
    display: block;
    clear: both;
}
#globalNavi ul li ul li {
    width: 240px;
    float: left;
}
#globalNavi ul li ul li a {
    display: block;
    font-size: 1.4em;
    line-height: 2.25;
}
#globalNavi ul li ul li a:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 8px;
    margin-right: 12px;
    background-image: url(../img/parts.png);
    background-position: -354px 0;
    background-repeat: no-repeat;
    vertical-align: middle;
}
#globalNavi ul li ul li.top {
    width: 210px;
}
#globalNavi ul li ul li.top a {
    color: #666666;
    font-size: 1.6em;
}
#globalNavi ul li ul li.top a:before {
    width: 14px;
    height: 14px;
    margin-right: 6px;
    background-position: -369px 0;
}
#globalNavi ul li ul li:nth-child(3n+2) {
    padding-left: 30px;
    border-left: solid 1px #dfdede;
}
#globalNavi ul li ul li:nth-child(3n+2):not(:nth-child(2)):not(:nth-child(5)) {
    margin-left: 210px;
}


/* main
--------------------------------------*/
main img {
    max-width: 100%;
}
.breadCrumbList {
    max-width: 1000px;
    margin: 18px auto 50px;
    font-size: 1.4em;
}
.breadCrumbList a {
    color: #3880ca;
    font-weight: bold;
}
.goArchive {
    display: inline-block;
    width: 85px;
    height: 24px;
    border-radius: 12px;
    background: #3880ca;
    line-height: 0;
    text-align: center;
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.goArchive:hover {
    filter: alpha(opacity=75);
    opacity: 0.75;
}
.goArchive span {
    display: none;
}
.goArchive:after {
    content: "";
    display: inline-block;
    width: 57px;
    height: 13px;
    margin-top: 5px;
    background: url(../img/parts.png) no-repeat -422px 0;
}

.detailH2 {
    background: #4f9cb8;
    font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-size: 3.2em;
    -webkit-font-smoothing: antialiased;
    font-weight: 200;
    letter-spacing: 0.14em;
}
body.kanko .detailH2 {
    background: #c0b566;
} 
.detailH2 > span {
    display: table;
    width: 100%;
    height: 130px;
    max-width: 1000px;
    margin: 0 auto;
}
.detailH2 > span > span {
    display: table-cell;
    color: #fff;
    font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    vertical-align: middle;
}

.newsSection {
    margin-bottom: 45px;
}
.newsSection.archive {
    width: 720px;
    float: left;
}
.newsSection .inner {
    position: relative;
}
.newsSection h2,
.newsSection h3 {
    margin-left: 10px;
    margin-bottom: 10px;
}
.newsSection.archive h3 {
    padding: 20px 0 20px 26px;
    margin-bottom: 30px;
    border-top: solid 1px #dfdede;
    border-bottom: solid 1px #dfdede;
    font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-size: 2.4em;
    -webkit-font-smoothing: antialiased;
    font-weight: 200;
    position: relative;
}
body.kanko .newsSection.archive h3 {
    margin-bottom: 0;
}
.newsSection.archive h3:before {
    content: "";
    width: 4px;
    height: 40px;
    margin-top: -20px;
    background: #4f9cb8;
    position: absolute;
    top: 50%;
    left: 0;
}
body.kanko .newsSection.archive h3:before {
    background: #c0b566;
}
.newsSection h2 .sp,
.newsSection h3 .sp {
    display: none;
}
.newsSection h3 {
    padding-bottom: 15px;
    margin-left: 0;
    margin-bottom: 0;
}
.newsSection h3 img {
    width: 268px;
}
.newsSection .tabMenu:after {
    content: "";
    display: block;
    clear: both;
}
.newsSection .tabMenu li {
    width: 326px;
    margin-right: 10px;
    float: left;
}
.newsSection .tabMenu li a {
    display: block;
    height: 47px;
    padding-top: 17px;
    background: #e1e1e1;
    border-radius: 5px 5px 0 0;
    text-align: center;
}
.newsSection .tabMenu li a.active {
    padding-top: 18px;
    background: #fff;
}
.newsSection .tabMenu li img {
    height: 16px;
}
.newsSection .tabPanel {
    display: none;
    padding: 46px 40px 32px;
    background: #fff;
    position: relative;
}
.newsSection .tabPanel.active {
    display: block;
}
.newsSection dl {
    padding-top: 18px;
    border-top: solid 1px #dfdede;
}
.newsSection.archive dl {
    padding-top: 0;
    margin-bottom: 50px;
    border-top: none;
}
.newsSection .tabPanel dl {
    margin-top: 18px;
    border-top: solid 1px #dfdede;
}
.newsSection dl:first-child {
    padding-top: 0;
    margin-top: 0;
    border-top: none;
}
.newsSection dl * {
    vertical-align: middle;
}
.newsSection dl dt {
    font-size: 1.2em;
    float: left; 
}

.newsSection dl dt:after,
.newsSection ul.archiveList li .entryInfo:before,
#postArticle .date:before {
    content: "";
    display: inline-block;
    width: 54px;
    height: 16px;
    margin-left: 28px;
    background-image: url(../img/parts.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}
.newsSection ul.archiveList li .entryInfo:before {
    margin-left: 0;
    margin-right: 15px;
}
#postArticle .date:before {
    margin-left: 0;
    margin-right: 12px;
}
.newsSection dl dt:after,
.newsSection ul.archiveList li.event .entryInfo:before,
#postArticle .date.event:before {
    background-position: 0 -30px;
}
.newsSection dl dt.other:after,
.newsSection ul.archiveList li.other .entryInfo:before,
#postArticle .date.other:before {
    background-position: -64px -30px;
}
.newsSection dl dt.kanko:after,
.newsSection ul.archiveList li.kanko .entryInfo:before,
#postArticle .date.kanko:before {
    background-position: -128px -30px;
}
.newsSection dl dt.kokuchi:after,
.newsSection ul.archiveList li.kokuchi .entryInfo:before,
#postArticle .date.kokuchi:before {
    background-position: -192px -30px;
}
.newsSection dl dt.kenko:after,
.newsSection ul.archiveList li.kenko .entryInfo:before,
#postArticle .date.kenko:before {
    background-position: -256px -30px;
}
.newsSection dl dt.boshu:after,
.newsSection ul.archiveList li.boshu .entryInfo:before,
#postArticle .date.boshu:before {
    background-position: -336px -50px;
}
.newsSection dl dt.pickup:after,
.newsSection ul.archiveList li.pickup .entryInfo:before,
#postArticle .date.pickup:before {
    background-position: -320px -30px;
}
.newsSection dl dt.kankyou:after,
.newsSection ul.archiveList li.kankyou .entryInfo:before,
#postArticle .date.kankyou:before {
    background-position: -80px -50px;
}
.newsSection dl dt.kouraku:after,
.newsSection ul.archiveList li.kouraku .entryInfo:before,
#postArticle .date.kouraku:before {
    background-position: -144px -50px;
}
.newsSection dl dt.gikai:after,
.newsSection ul.archiveList li.gikai .entryInfo:before,
#postArticle .date.gikai:before {
    background-position: -208px -50px;
}
.newsSection dl dt.saigai:after,
.newsSection ul.archiveList li.saigai .entryInfo:before,
#postArticle .date.saigai:before {
    background-position: -272px -50px;
}
.newsSection dl dd {
    margin-left: 168px;
    margin-bottom: 14px;
}
.newsSection dl dd a {
    color: #3880ca;
    font-size: 1.4em;
}
.newsSection dl dd:after {
    content: "";
    display: block;
    clear: both;
}
.newsSection .link {
    position: absolute;
    right: 0;
    top: -5px;
}
.newsSection .tabPanel .link {
    position: absolute;
    right: 40px;
    top: 35px;
}
.nextPostsShow {
    display: none;
}
.newsSection ul.archiveList {
    margin-bottom: 60px;
}
.newsSection ul.archiveList li a {
    display: block;
    padding: 40px 0;
    border-bottom: solid 1px #dfdede;
}
.newsSection ul.archiveList li a:hover {
    background: #f5f5f5;
    text-decoration: none;
}
.newsSection ul.archiveList li a:hover img {
    filter: alpha(opacity=100);
    opacity: 1;
}
.newsSection ul.archiveList li a:after {
    content: "";
    display: block;
    clear: both;
}
.newsSection ul.archiveList li figure {
    width: 280px;
    border-radius: 8px;
    float: left;
    overflow: hidden;
}
.newsSection ul.archiveList li .textArea {
    margin-left: 320px;
    line-height: 1.7;
    letter-spacing: 0.02em;
}
.newsSection ul.archiveList li .entryInfo {
    margin-bottom: 10px;
    font-size: 1.4em;
}
.newsSection ul.archiveList li h4 {
    margin-bottom: 10px;
    color: #3880ca;
    font-size: 1.6em;
}
.newsSection ul.archiveList li .description {
    font-size: 1.4em;
}

.paginationNav {
    text-align: center;
}
.paginationNav:after {
    content: "";
    display: block;
    clear: both;
}
.paginationNavInner {
    display: inline-block;
}
.paginationNav .prev,
.paginationNav .next,
.paginationNav .pager {
    display: table;
    height: 34px;
    margin: 0 2px;
    float: left;
}
.paginationNav .prev > *,
.paginationNav .next > *,
.paginationNav .pager > * {
    display: table-cell;
    min-width: 34px;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.paginationNav .pager > * {
    min-width: 32px;
}
.paginationNav .prev > *,
.paginationNav .next > *,
.paginationNav .pager {
    border: solid 1px #d4d4d4;
    border-radius: 4px;
}
.paginationNav .pager.current {
    border-color: #9b9b9b;
    background: #9b9b9b;
    color: #fff;
}
.paginationNav a:hover {
    text-decoration: none;
}
.paginationNav .prev:hover > *,
.paginationNav .next:hover > *,
.paginationNav a.pager:hover {
    border-color: #3880ca;
    background: #3880ca;
    color: #fff;
}
.paginationNav .prev a:before,
.paginationNav .next a:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 14px;
    background-repeat: no-repeat;
    background-image: url(../../common/img/parts.png);
    vertical-align: middle;
}
.paginationNav .prev a:before {
    background-position: -80px -90px;
}
.paginationNav .next a:before {
    background-position: -90px -90px;
}
.paginationNav .prev a:hover:before {
    background-position: -100px -90px;
}
.paginationNav .next a:hover:before {
    background-position: -110px -90px;
}

.timesSection {
    padding: 80px 0 50px;
}
.timesSection .inner > h2,
.timesSection .inner > h3 {
    width: 306px;
    margin: 0 auto 30px;
}
.timesSection .lead {
    margin-bottom: 36px;
    font-size: 1.6em;
    text-align: center;
}
.timesSection ul:after {
    content: "";
    display: block;
    clear: both;
}
.timesSection ul li {
    width: 306px;
    margin-left: 40px;
    float: left;
}
.timesSection ul li:first-child {
    margin-left: 0;
}
.timesSection ul li figure {
    margin-bottom: 15px;
    border-radius: 6px;
    overflow: hidden;
}
.timesSection ul li h3,
.timesSection ul li h4 {
    margin-bottom: 15px;
    font-size: 1.6em;
}
.timesSection .link {
    display: none;
}
.timesSection ul li .date {
    font-size: 1.4em;
}

.pickupSection {
    padding: 60px 0 78px;
    background: #f5f5f5
}
.pickupSection h2 {
    text-align: center;
}
.pickupSection h2 img {
    width: 326px;
    height: auto;
    margin-bottom: 36px;
}
.pickupSection .sliderWrapper {
    overflow: hidden;
    position: relative;
}
.pickupSection ul {
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}
.pickupSection ul:after {
    content: "";
    display: block;
    clear: both;
}
.pickupSection li {
    width: 346px;
    padding: 0 20px;
    float: left;
}
.pickupSection li figure {
    margin-bottom: 20px;
}
.pickupSection li h3 {
    font-size: 1.6em;
}
.sliderControler .prev,
.sliderControler .next {
    width: 54px;
    height: 110px;
    margin-top: -55px;
    background-repeat: no-repeat;
    position: absolute;
    top: 115px;
    z-index: 2;
    cursor: pointer;
    filter: alpha(opacity=68);
    opacity: 0.68;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.sliderControler .prev:hover,
.sliderControler .next:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}
.sliderControler .prev {
    background-image: url(../img/btn_prev02.png);
    left: 0;
}
.sliderControler .next {
    background-image: url(../img/btn_next02.png);
    right: 0;
}

/*-- seconds contents --*/
.articleWrapper,
.newsWrapper {
    max-width: 1000px;
    margin: 0 auto 90px;
}
.articleWrapper:after,
.newsWrapper:after {
    content: "";
    display: block;
    clear: both;
}
#postArticle {
    width: 720px;
    font-size: 1.6em;
    line-height: 2;
    float: left;
}
#postArticle .sns {
    float: right;
}
#postArticle .sns > *,
#postArticle .sns > * span {
    vertical-align: top !important;
}
#postArticle .sns > * {
    margin-left: 12px;
}
#postArticle .date {
    font-size: 0.875em;
}
#postArticle h1,
#postArticle h2,
#postArticle h3,
#postArticle h4,
#postArticle h5,
#postArticle h6 {
    margin-bottom: 1.25em;
    line-height: 1.25em;
}
#postArticle h1 {
    font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-size: 2em;
}
#postArticle h2 {
    padding: 23px 0;
    border-top: solid 1px #dfdede;
    border-bottom: solid 1px #dfdede;
    font-size: 1.375em;
    font-weight: bold;
}
#postArticle h3 {
    padding: 13px 22px;
    border-radius: 8px;
    background: #f5f5f5;
    font-size: 1.125em;
    font-weight: bold;
}
#postArticle h4,
#postArticle h5,
#postArticle h6 {
    margin-bottom: 0.75em;
    font-size: 1.125em;
    font-weight: bold;
}
#postArticle p,
#postArticle ul,
#postArticle ol,
#postArticle dl,
#postArticle table,
#postArticle div,
dl.faq {
    margin-bottom: 2.5em;
}
#postArticle ul.files,
#postArticle ol.files {
    padding: 23px 30px;
    background: #eff3f4;
    font-size: 0.875em;
}
#postArticle ul li,
#postArticle ol li {
    padding-left: 30px;
    margin-top: 5px;
    position: relative;
}
#postArticle ol li {
    padding-left: 0;
    margin-left: 30px;
}
#postArticle ul li:first-child,
#postArticle ol li:first-child {
    margin-top: 0;
}
#postArticle ul li:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 60%;
    background-color: #919090;
    position: absolute;
    left: 10px;
    top: 0.75em;
}
#postArticle ol li {
    list-style: outside decimal;
}
#postArticle img {
    height: auto;
}
#postArticle a,
#sideNavi a {
    color: #3880ca;
}
#postArticle a[href$=".pdf"]:after,
#postArticle a[href$=".docx"]:after,
#postArticle a[href$=".doc"]:after,
#postArticle a[href$=".xlsx"]:after,
#postArticle a[href$=".xls"]:after,
#postArticle a[href$=".pptx"]:after,
#postArticle a[href$=".ppt"]:after,
#postArticle a[href$=".zip"]:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 15px;
    background-image: url(../img/parts.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}
#postArticle a[href$=".pdf"]:after {
    background-position: -80px -70px
}
#postArticle a[href$=".docx"]:after,
#postArticle a[href$=".doc"]:after {
    background-position: -120px -70px
}
#postArticle a[href$=".xlsx"]:after,
#postArticle a[href$=".xls"]:after {
    background-position: -160px -70px
}
#postArticle a[href$=".pptx"]:after,
#postArticle a[href$=".ppt"]:after{
    background-position: -200px -70px
}
#postArticle a[href$=".zip"]:after {
    background-position: -240px -70px
}
#postArticle .quotationWrapper {
    text-align: right;
}
#postArticle .quotation {
    display: inline-block;
    max-width: 93.5%;
    font-style: italic;
    letter-spacing: 0;
    text-align: left;
}
#postArticle .quotation p {
    padding-right: 10px;
    margin-bottom: 0;
}
#postArticle .quotation .source {
    padding-right: 0;
    text-align: right;
}
#postArticle .annotation {
    padding: 20px;
    background: #f5f5f5;
    font-size: 0.875em;
}
#postArticle .annotation h5 {
    font-size: inherit;
}
#postArticle .annotation p {
    margin-bottom: 0;
}
#postArticle .figure.left {
    width: 380px;
    padding-right: 40px;
    margin-bottom: 0;
    float: left;
}
#postArticle .figure.right {
    width: 380px;
    padding-left: 40px;
    margin-bottom: 0;
    float: right;
} 
#postArticle .figure .image {
    margin: 0 auto 10px;
}
#postArticle .figure .image.sizeL {
    width: 720px;
}
#postArticle .figure .image.sizeM {
    width: 540px;
}
#postArticle .figure .image.sizeS {
    width: 340px;
}
#postArticle .figure .figcaption {
    margin-bottom: 0;
    color: #666;
    font-size: 0.75em;
    text-align: center;
}
#postArticle .figure.left .figcaption,
#postArticle .figure.right .figcaption {
    text-align: left;
}
#postArticle .address {
    padding: 23px 30px;
    border-top: solid 1px #dfdede;
    border-bottom: solid 1px #dfdede;
}
#postArticle .address p,
#postArticle .address div {
    margin-bottom: 0;
}
#postArticle strong {
    font-weight: bold;
}
#postArticle a.link:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 8px;
    margin-top: -4px;
    margin-left: 4px;
    margin-right: 10px;
    background: url(../img/parts.png) no-repeat -354px 0;
    vertical-align: middle;
}
#postArticle a.largeLink:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: -4px;
    margin-right: 6px;
    background: url(../img/parts.png) no-repeat -369px 0;
    vertical-align: middle;
}
#postArticle table {
    width: 100%;
    border-collapse: collapse;
}
#postArticle table th,
#postArticle table td {
    padding: 6px 12px;
    border: solid 1px #dfdede;
    font-size: 0.75em;
}
#postArticle table th {
    border-color: #afafaf;
    border-top-color: #9b9b9b;
    border-bottom-color: #9b9b9b;
    background: #9b9b9b;
    color: #fff;
    text-align: left;
    font-weight: bold;
}
#postArticle table .strongCell,
#postArticle table .grayCell {
    background: #f5f5f5;
}
#postArticle table .strongCell {
    font-weight: bold;
}
dl.faq {
    line-height: 1.5;
}
dl.faq dt {
    margin-bottom: 10px;
}
dl.faq dt:before {
    content: "Q.";
    display: inline-block;
    margin-right: 10px;
    color: #4f9cb8;
    font-size: 16px;
}
dl.faq dd {
    padding: 16px 16px 16px 40px;
    background: #f5f5f5;
    font-size: 14px;
    position: relative;
}
dl.faq dd:before {
    content: "A.";
    display: inline-block;
    color: #4f9cb8;
    font-size: 16px;
    position: absolute;
    top: 16px;
    left: 16px; 
}
#postArticle .pageNav,
#postArticle .pageNav p,
#postArticle .pageNav div {
    margin-bottom: 0;
}
.pageNav {
    display: table;
    width: 100%;
    vertical-align: top;
}
.pageNav a,
#postArticle .pageNav a {
    display: block;
    padding: 25px 45px 20px 20px;
    border-top: solid 1px #dfdede;
    border-bottom: solid 1px #dfdede;
    border-left: solid 1px #dfdede;
    color: inherit;
    line-height: 1.5;
    position: relative;
}
.pageNav .pageNavContent:first-child a,
#postArticle .pageNav .pageNavContent:first-child a {
    padding: 25px 20px 20px 45px;
    border-left: none;
}
.pageNav.hasImage .pageNavContent a,
#postArticle .pageNav.hasImage .pageNavContent a,
.pageNav.hasImage .pageNavContent:first-child a,
#postArticle.hasImage .pageNav .pageNavContent:first-child a {
    padding: 25px 20px 20px 20px;
}
.pageNav a:hover,
#postArticle .pageNav a:hover {
    background: #f5f5f5;
    text-decoration: none;
}
.pageNav .pageNavContent a:before {
    content: "";
    display: block;
    width: 19px;
    height: 19px;
    margin-top: -9px;
    background: url(../img/parts.png) no-repeat -393px 0;
    position: absolute;
    right: 11px;
    top: 50%;
}
.pageNav .pageNavContent:first-child a:before {
    background: url(../img/parts.png) no-repeat -393px -50px;
    right: auto;
    left: 11px;
}
.pageNav.hasImage .pageNavContent a:before {
    display: none;
}
.pageNav .pageNavContent {
    display: table-cell;
    vertical-align: middle;
}
.pageNav .navText {
    font-size: 16px;
    font-weight: bold;
}
.pageNav.hasImage .navText {
    float: right;
}.pageNav.hasImage .pageNavContent:first-child .navText {
    float: none;
}
.pageNav.hasImage .navText:after {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-left: 10px;
    background: url(../img/parts.png) no-repeat -393px 0;
    vertical-align: middle;
}
.pageNav.hasImage .pageNavContent:first-child .navText:after {
    display: none;
}
.pageNav.hasImage .pageNavContent:first-child .navText:before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 10px;
    background: url(../img/parts.png) no-repeat -393px -50px;
    vertical-align: middle;
}
.pageNav.hasImage .postDate {
    float: left;
}
.pageNav .postDate,
.pageNav.hasImage .pageNavContent:first-child .postDate {
    float: right;
}
.pageNav .postDateSp {
    display: none;
}
.pageNav .title {
    padding-top: 10px;
    color: #3880ca;
    font-size: 14px;
    letter-spacing: 0.04em;
}
.pageNav figure {
    width: 144px;
    padding-top: 10px;
    padding-left: 14px;
    float: right;
}
.pageNav .pageNavContent:first-child figure {
    padding-left: 0;
    padding-right: 14px;
    float: left;
}
.pageNav .pageNavContent div {
    clear: both;
}
.pageNav .pageNavContent div:after {
    content: "";
    display: block;
    clear: both;
}

#sideNavi {
    width: 230px;
    float: right;
}
#sideNavi h3 {
    padding: 30px 10px 25px;
    border-top: solid 4px #d6d6d6;
    border-bottom: solid 1px #d6d6d6;
    font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-size: 2.1em;
    -webkit-font-smoothing: antialiased;
}
#sideNavi.news h3 {
    padding: 23px 10px;
    border-top-color: #4f9cb8;
}
body.kanko #sideNavi.news h3 {
    border-top-color: #c0b566;
}
#sideNavi p,
#sideNavi dl {
    padding: 25px 20px;
    border-bottom: solid 1px #d6d6d6;
    line-height: 1.57;
}
#sideNavi.news dl {
    padding: 0;
}
#sideNavi:not(.news) p:last-child,
#sideNavi:not(.news) dl:last-child {
    border-bottom: none;
}
#sideNavi p,
#sideNavi dt {
    font-size: 1.6em;
    font-weight: bold;
}
#sideNavi.news p,
#sideNavi.news dt {
    padding: 25px 20px;
    padding-left: 40px;
    font-size: 1.4em;
}
#sideNavi dt {
    margin-bottom: 0.75em;
}
#sideNavi.news dt {
    margin-bottom: 0;
    color: #3880ca;
    cursor: pointer;
    position: relative;
}
#sideNavi.news dt:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    background: url(../img/parts.png) no-repeat -460px -50px;
    position: absolute;
    left: 12px;
    top: 50%;
}
#sideNavi.news dt.active:before{
    width: 16px;
    height: 16px;
    margin-top: -8px;
    background: url(../img/parts.png) no-repeat -460px -30px;
}
#sideNavi dt span {
    font-weight: bold;
}
#sideNavi dd {
    font-size: 1.4em;
}
#sideNavi.news dd {
    display: none;
    padding-left: 25px;
    padding-bottom: 20px;
}
#sideNavi.news dt.active,
#sideNavi.news dt.active + dd {
    background: #f5f5f5;
}
#sideNavi.news dt.active + dd {
    display: block;
}
#sideNavi dd ul li {
    margin-left: 15px;
    margin-bottom: 8px;
    position: relative;
}
#sideNavi dd ul li:last-child {
    margin-bottom: 0;
}
#sideNavi dd ul li:before {
    content: "\2d";
    display: inline-block;
    position: absolute;
    left: -12px;
}
#sideNavi.news dd ul li:before {
    display: none;
}
#sideNavi.news dd ul li a {
    display: block;
    position: relative;
}
#sideNavi.news dd ul li a:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-top: -5px;
    background: url(../img/parts.png) no-repeat -440px -40px;
    position: absolute;
    top: 50%;
    left: -20px;
}
#sideNavi.news p a,
#sideNavi.news dt a {
    display: block;
    position: relative;
}
#sideNavi.news p a:before,
#sideNavi.news dt a:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-top: -5px;
    background: url(../img/parts.png) no-repeat -440px -40px;
    position: absolute;
    top: 50%;
    left: -20px;
}
#sideNavi.news p a.current,
#sideNavi.news dd a.current {
    color: #666;
}
#sideNavi.news p a.current:before {
    width: 8px;
    height: 2px;
    margin-top: -1px;
    background-position: -440px -30px;
    left: -24px;
}


/* footer
--------------------------------------*/
body > footer {
    background: #fff;
    font-size: 1.4em;
}
body > footer img {
    max-width: 100%;
}
#footerAboutSection {
    padding: 60px 0 34px;
    border-bottom: solid 1px #dfdede;
}
#footerAboutSection:after {
    content: "";
    display: block;
    clear: both;
}
#footerAboutSection .addressArea {
    padding-right: 54px;
    line-height: 1.5em;
    float: left;
}
#footerAboutSection .addressArea h2 {
    margin-bottom: 20px;
    line-height: 1;
}
#footerAboutSection .addressArea h2 img {
    width: 141px;
}
#footerAboutSection .addressArea .link {
    width: 115px;
    margin-bottom: 18px;
    line-height: 1;
}
#footerAboutSection .addressArea  .toAccess {
    margin-bottom: 20px;
}
#footerAboutSection .addressArea dt,
#footerAboutSection .addressArea dd {
    display: inline;
}
#footerAboutSection .mapArea {
    float: left;
}
#footerAboutSection .mapArea .map {
    margin-bottom: 8px;
}
#footerAboutSection .mapArea iframe {
    border: solid 1px #dfdede !important;
}
#footerAboutSection .mapArea .link .sp {
    display: none;
}
#footerAboutSection .facebook {
    width: 360px;
    float: right;
}
#footerLinks {
    padding: 32px 0;
    border-bottom: solid 1px #dfdede;
    text-align: center;
}
#footerLinks li {
    display: inline-block;
    padding: 0 14px;
}
#footerLinks li a {
    color: #3880ca;
}
#copyright {
    padding: 38px 0;
    text-align: center;
}
#copyright small {
    font-size: 0.86em;
}
#pageTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}
#pageTop a {
    display: block;
    width: 69px;
    height: 69px;
    background: url(../img/parts.png) no-repeat 0 -56px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* common styles
--------------------------------------*/
.arrowLink {
    display: inline-block;
    padding-left: 12px;
    position: relative;
}
.arrowLink:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 8px;
    margin-top: -4px;
    background: url(../img/parts.png) no-repeat -354px 0;
    position: absolute;
    left: 0;
    top: 50%;
}
main a[target="_blank"],
body > footer a[target="_blank"] {
    display: inline-block;
    padding-left: 22px;
    color: #3880ca;
    position: relative;
}
main a[target="_blank"]:before,
body > footer a[target="_blank"]:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-top: -7px;
    background: url(../img/parts.png) no-repeat -393px -30px;
    position: absolute;
    left: 0;
    top: 50%;
}



@media only screen and (max-width: 1080px) {

.pickupSection {
    padding: 33px 0;
}
.pickupSection h2 img {
    width: 233px;
    margin-bottom: 25px;
}
.pickupSection li {
    width: 261px;
    padding: 0 14px;
}
.pickupSection li figure {
    margin-bottom: 12px;
}
.pickupSection li figure img {
    width: 100%;
}
.pickupSection li h3 {
    font-size: 1.2em;
}
.sliderControler .prev,
.sliderControler .next {
    width: 19px;
    height: 34px;
    margin-top: -38px;
    background-size: 19px 34px;
    filter: alpha(opacity=100);
    opacity: 1;
}
.sliderControler .prev {
    background-image: url(../img/btn_prev_01.png);
}
.sliderControler .next {
    background-image: url(../img/btn_next_01.png);
}

}



@media only screen and (max-width: 768px) {

/* header
--------------------------------------*/
body > header {
    min-width: 0;
    z-index: 3;
}
body .inner {
    width: auto;
}
body.menuFixed > header {
    height: auto;
    position: static;
}
body > header .spBar {
    width: 100%;
    height: 45px;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 4;
}
body > header  h1 {
    width: 57px;
    margin-top: 8px;
    margin-left: 10px;
}
body > header h1 .common,
body.menuFixed > header h1 .common {
    height: 28px;
    margin-top: 0;
}
.navBg {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 45px;
    left: 0;
    z-index: 2;
}
body.navActive .navBg {
    display: block;
}
#globalNavi {
    float: none;
    position: relative;
}
#globalNavi #headerLogoToggle {
    display: block;
    float: right;
}
#globalNavi #headerLogoToggle a {
    display: block;
    width: 40px;
    height: 45px;
    padding-left: 12px;
    padding-top: 12px;
    -webkit-transition: none;
    transition: none;
}
body.navActive #globalNavi #headerLogoToggle a {
    padding-left: 14px;
    padding-top: 15px;
    background: #377ec8;
}
#globalNavi #headerLogoToggle a span {
    display: block;
    width: 18px;
    height: 18px;
    background: url(../img/parts_sp.png) no-repeat 0 0;
    background-size: 250px auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: none;
    transition: none;
}
body.navActive #globalNavi #headerLogoToggle a span {
    width: 15px;
    height: 15px;    background-position: -23px 0;
}
#globalNavi > ul {
    display: none;
    width: 100%;
    position: absolute;
    top: 45px;
    left: 0;
    background: #377ec8;
    font-size: 1.5em;
    z-index: 4;
    opacity: 0;
}
#globalNavi > ul > li {
    float: none;
}
#globalNavi > ul > li > a {
    height: auto;
    padding: 0;
}
#globalNavi > ul > li > a span {
    height: 51px;
    padding: 0;
    margin: 0;
    border-right: none;
    text-indent: 0;
    white-space: normal;
}
#globalNavi > ul > li#gNavEnglish {
    display: none;
}
#globalNavi > ul > li#gNavOffice > a span,
#globalNavi > ul > li#gNavKanko > a span,
#globalNavi > ul > li#gNavTimes > a span,
#globalNavi > ul > li#gNavFacebook > a span,
#globalNavi > ul > li#gNavEnglish > a span {
    height: 51px;
    margin: 0;
    border: none;
    background: none;
}
#globalNavi > ul > li#gNavOffice:hover > a:after,
#globalNavi > ul > li#gNavKanko:hover > a:after,
#globalNavi > ul > li#gNavTimes:hover > a:after {
    display: none;
}
body.navActive #globalNavi > ul {
    display: block;
    opacity: 1;
}
#globalNavi > ul a {
    color: #fff;
}
#globalNavi > ul > li > a,
body.menuFixed #globalNavi > ul > li > a,
#globalNavi > ul ul li {
    display: table;
    width: 100%;
    padding: 0;
    border-bottom: solid 1px #a2c1e0;
}
#globalNavi ul li ul li.top {
    width: 100%;
}
#globalNavi ul li ul {
    visibility: visible;
    width: auto;
    padding: 0;
    border: none;
    background: #7aa6d3;
    position: static;
    opacity: 1;
}
#globalNavi > ul ul:after {
    content: "";
    display: block;
    clear: both;
}
#globalNavi > ul ul li:not(.top) {
    width: 50%;
    float: left;
}
#globalNavi ul li ul li {
    padding: 0;
}
#globalNavi ul li ul li:nth-child(3n+2) {
    padding: 0;
    border-left: none;
}
#globalNavi ul li ul li:nth-child(3n+2):not(:nth-child(2)):not(:nth-child(5)) {
    margin-left: 0;
}
#globalNavi > ul ul li:nth-child(2n) {
    border-right: solid 1px #a2c1e0;
}
#globalNavi > ul > li > a span,
#globalNavi > ul li ul li a {
    display: table-cell;
    height: 51px;
    padding-left: 20px;
    vertical-align: middle;
    position: relative;
}
#globalNavi ul li ul li a,
#globalNavi ul li ul li.top a {
    color: #fff;
    font-size: inherit;
}
#globalNavi ul li ul li a:before {
    display: none;
}
#globalNavi > ul > li > a span:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    background: url(../img/parts_sp.png) no-repeat -43px 0;
    background-size: 250px auto;
    position: absolute;
    right: 12px;
    top: 50%;
}
#globalNavi > ul > li > a[target="_blank"] span:after {
    width: 15px;
    height: 15px;
    background-position: -62px 0;
}
#globalNavi > ul ul li a:after {
    content: "";
    display: block;
    width: 6px;
    height: 11px;
    margin-top: -5px;
    background: url(../img/parts_sp.png) no-repeat -82px 0;
    background-size: 250px auto;
    position: absolute;
    right: 15px;
    top: 50%;
}
#globalNavi ul ul {
    background: #7aa6d3;
}
#globalNavi ul li:not(.others) ul {
    display: none;
}
#globalNavi ul li:not(.others) ul.active {
    display: block;
}
#globalNavi > ul li.others,
#globalNavi > ul li.others ul {
    display: block;
    background: #26748e;
}
#globalNavi > ul li.others ul li:nth-child(2n) {
    border-right: none;
}
#globalNavi > ul li.others ul li:nth-child(2n+1) {
    border-right: solid 1px #a2c1e0;
}
#globalNavi > ul li.search {
    padding: 10px 20px;
    position: relative;
}
#globalNavi > ul li.pc {
    display: none;
}
#globalNavi > ul li.sp {
    display: block;
}
#globalNavi > ul li.search input {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border-radius: 15px;
    font-size: 0.8em;
}
#globalNavi > ul li.search button {
    width: 14px;
    height: 14px;
    margin-top: -7px;
    position: absolute;
    right: 30px;
    top: 50%;
}
#globalNavi > ul li.search button:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(../img/parts_sp.png);
    background-repeat: no-repeat;
    background-position: -93px 0;
    background-size: 250px auto;
}


/* main
--------------------------------------*/

.breadCrumbList {
    padding: 0 15px;
    margin: 12px auto 25px;
    font-size: 1.2em;
}

.detailH2 {
    margin-top: 45px;
    font-size: 2.1em;
    text-align: center;
}
.detailH2 > span {
    height: 80px;
}

.newsSection {
    padding: 0 15px;
    margin-bottom: 30px;
}
.newsSection.archive {
    width: auto;
    padding: 0;
    float: none;
}
.newsSection h2 {
    margin-left: none;
    margin-bottom: 15px;
    text-align: center;
}
.newsSection h2 .pc {
    display: none;
}
.newsSection h2 .sp {
    display: inline-block;
    width: 131px;
}
.newsSection.archive h3 {
    padding: 14px 0 14px 32px;
    margin-bottom: 15px;
    font-size: 1.6em;
}
.newsSection.archive h3:before {
    width: 3px;
    height: 30px;
    margin-top: -15px;
    left: 15px;
}
.newsSection .tabMenu li {
    width: 50%;
    margin-right: 0;
}
.newsSection .tabMenu li a {
    height: 40px;
    padding-top: 14px;
    border-radius: 0;
    border: solid 1px #dfdede;
}
.newsSection .tabMenu li:first-child a {
    border-right: none;
}
.newsSection .tabMenu li a.active {
    padding-top: 17px;
    border-bottom: none;
}
.newsSection .tabMenu li img {
    height: 14px;
}
.newsSection .tabPanel {
    padding: 0;
    border: solid 1px #dfdede;
    border-top: none;
}
.newsSection.archive dl {
    margin-bottom: 25px;
}
.newsSection.archive dt,
.newsSection.archive dd {
    padding-left: 15px;
    padding-right: 15px;
}
.newsSection dl dt {
    padding: 22px 0 5px;
    float: none
}
.newsSection dl dt:first-child {
    padding-top: 10px;
}
.newsSection .tabPanel dl dt {
    padding: 22px 15px 5px;
    float: none
}
.newsSection dl dt:after,
.newsSection ul.archiveList li .entryInfo:before,
#postArticle .date:before {
    margin-left: 7px;
    background: url(../img/parts_sp.png) no-repeat;
    background-size: 250px auto;
}
.newsSection ul.archiveList li .entryInfo:before {
    margin-left: -3px;
    margin-right: 6px;
}
#postArticle .date:before {
    margin-right: 10px;
    margin-left: 0;
}
.newsSection dl dt.event:after,
.newsSection ul.archiveList li.event .entryInfo:before,
#postArticle .date.event:before {
    background-position: 0 -50px;
}
.newsSection dl dt.other:after,
.newsSection ul.archiveList li.other .entryInfo:before,
#postArticle .date.other:before {
    background-position: -59px -50px;
}
.newsSection dl dt.kanko:after,
.newsSection ul.archiveList li.kanko .entryInfo:before,
#postArticle .date.kanko:before {
    background-position: -118px -50px;
}
.newsSection dl dt.kokuchi:after,
.newsSection ul.archiveList li.kokuchi .entryInfo:before,
#postArticle .date.kokuchi:before {
    background-position: -177px -50px;
}
.newsSection dl dt.kenko:after,
.newsSection ul.archiveList li.kenko .entryInfo:before,
#postArticle .date.kenko:before {
    background-position: 0 -71px;
}
.newsSection dl dt.boshu:after,
.newsSection ul.archiveList li.boshu .entryInfo:before,
#postArticle .date.boshu:before {
    background-position: -59px -71px;
}
.newsSection:not(.archive) dl dt.pickup:after,
.newsSection:not(.archive) ul li.pickup .entryInfo:before {
    display: none;
}
.newsSection dl dt.pickup:after,
.newsSection ul.archiveList li.pickup .entryInfo:before,
#postArticle .date.pickup:before {
    background-position: -118px -92px;
}
.newsSection dl dt.kankyou:after,
.newsSection ul.archiveList li.kankyou .entryInfo:before,
#postArticle .date.kankyou:before {
    background-position: -118px -71px;
}
.newsSection dl dt.kouraku:after,
.newsSection ul.archiveList li.kouraku .entryInfo:before,
#postArticle .date.kouraku:before {
    background-position: -177px -71px;
}
.newsSection dl dt.gikai:after,
.newsSection ul.archiveList li.gikai .entryInfo:before,
#postArticle .gikai.kanko:before {
    background-position: 0 -92px;
}
.newsSection dl dt.saigai:after,
.newsSection ul.archiveList li.saigai .entryInfo:before,
#postArticle .date.saigai:before {
    background-position: -59px -92px;
}
.newsSection dl dd {
    padding: 0 0 20px;
    margin: 0;
    border-bottom: solid 1px #dfdede;
}
.newsSection .tabPanel dl dd {
    padding: 0 15px 20px;
}
.newsSection dl,
.newsSection .tabPanel dl {
    padding-top: 0;
    margin-top: 0;
    border-top: solid 4px #dfdede;
}
.newsSection dl:first-of-type,
.newsSection .tabPanel dl:first-of-type {
    border-top: none;
}
.newsSection .link,
.newsSection .times,
.newsSection .tabPanel .link {
    padding: 15px;
    position: static;
}
.newsSection ul.archiveList {
    margin-bottom: 30px;
}
.newsSection ul.archiveList li a {
    padding: 15px;
    background: inherit;
}
.newsSection ul.archiveList li a:hover {
    background: inherit;
}
.newsSection ul.archiveList li a:first-child {
    padding-top: 15px;
}
.newsSection ul.archiveList li figure {
    width: 105px;
    border-radius: 4px;
    float: left;
}
.newsSection ul.archiveList li .textArea {
    margin-left: 122px;
    line-height: 1.4;
}
.newsSection ul.archiveList li .entryInfo {
    font-size: 1em;
}
.newsSection ul.archiveList li h4 {
    margin-bottom: 0;
    font-size: 1.2em;
}
.newsSection ul.archiveList li .description {
    display: none;
}
.nextPostsShow {
    display: block;
    margin-bottom: 25px;
}
.nextPostsShow a {
    display: table;
    width: 280px;
    margin: 0 auto;
    border: solid 1px #387fc9;
    color: #387fc9;
    font-weight: bold;
    position: relative;
}
.nextPostsShow a span {
    display: table-cell;
    height: 45px;
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
}
.nextPostsShow a span:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    background: url(../img/parts_sp.png) no-repeat -43px -25px;
    background-size: 250px auto;
    position: absolute;
    right: 10px;
    top: 50%;
}

.paginationNav .prev:hover > *,
.paginationNav .next:hover > *,
.paginationNav a.pager:hover {
    border-color: #d4d4d4;
    background: inherit;
    color: inherit;
}
.paginationNav .prev a:before,
.paginationNav .next a:before {
    width: 8px;
    height: 15px;
    background-image: url(../../common/img/parts_sp.png);
    background-size: 250px auto;
}
.paginationNav .prev a:before,
.paginationNav .prev a:hover:before {
    background-position: -110px -25px;
}
.paginationNav .next a:before,
.paginationNav .next a:hover:before {
    background-position: -120px -25px;
}
.paginationNav .pager:nth-child(n+5):not(.interval):not(.last){
    display: none;
}

.newsSection .link a,
.timesSection .link a {
    width: 100%;
    height: 40px;
    border-radius: 20px;
}
.newsSection .link a:after,
.timesSection .link a:after {
    margin-top: 14px;
}

.timesSection {
    padding: 40px 15px;
}
.timesSection .inner > h2,
.timesSection .inner > h3 {
    width: 207px;
    margin-bottom: 12px;
}
.timesSection .lead {
    margin-bottom: 14px;
    font-size: 1.2em;
    text-align: left;
}
.timesSection .lead .goArchive {
    display: none;
}
.timesSection ul li {
    width: auto;
    margin-left: 0;
    margin-bottom: 25px;
    float: none;
}
.timesSection ul li figure {
    margin-bottom: 10px;
}
.timesSection ul li figure img {
    width: 100%;
}
.timesSection ul li h3,
.timesSection ul li h4 {
    margin-bottom: 10px;
    color: #3880ca;
    font-size: 1.4em;
}
.timesSection ul li .date {
    font-size: 1.2em;
}
.timesSection .link {
    display: block;
    padding-top: 16px;
    border-top: solid 1px #dfdede;
}

.goArchive:after {
    width: 55px;
    height: 12px;
    margin-top: 6px;
    background: url(../img/parts_sp.png) no-repeat -112px 0;
    background-size: 250px auto;
}


/*-- seconds contents --*/
.articleWrapper,
.newsWrapper {
    margin: 0 auto;
}
#postArticle {
    width: auto;
    padding: 0 15px;
    font-size: 1.4em;
    line-height: 1.76;
    float: none;
}
#postArticle .sns {
    display: table-caption;
    caption-side: bottom;
    float: none;
}
#postArticle .sns > * {
    margin-bottom: 0;
}
#postArticle .sns > *:first-child {
    margin-left: 0;
}
#postArticle header {
    display: table;
}
#postArticle .date {
    margin-bottom: 10px;
}
#postArticle h1,
#postArticle h2,
#postArticle h3,
#postArticle h4,
#postArticle h5,
#postArticle h6 {
    margin-bottom: 10px;
}
#postArticle h1 {
    font-size: 1.5em;
    line-height: 1.4;
}
#postArticle h2 {
    padding: 12px 0;
    font-size: 1.5em;
    line-height: 1.4;
}
#postArticle h3,
#postArticle h4,
#postArticle h5,
#postArticle h6 {
    font-size: 1.17em;
}
#postArticle p,
#postArticle ul,
#postArticle ol,
#postArticle dl,
#postArticle table,
#postArticle div {
    margin-bottom: 1.5em;
}
#postArticle ul,
#postArticle ol {
    padding: 12px 16px;
    font-size: 1em;
}
#postArticle ul li {
    padding-left: 20px;
}
#postArticle ol li {
    margin-left: 20px;
}
#postArticle ul li:before {
    left: 2px;
}
#postArticle a[href$=".pdf"]:after,
#postArticle a[href$=".docx"]:after,
#postArticle a[href$=".doc"]:after,
#postArticle a[href$=".xlsx"]:after,
#postArticle a[href$=".xls"]:after,
#postArticle a[href$=".pptx"]:after,
#postArticle a[href$=".ppt"]:after,
#postArticle a[href$=".zip"]:after {
    background-image: url(../img/parts_sp.png);
    background-size: 250px auto;
}
#postArticle a[href$=".pdf"]:after {
    background-position: 0 -115px
}
#postArticle a[href$=".docx"]:after,
#postArticle a[href$=".doc"]:after {
    background-position: -35px -115px
}
#postArticle a[href$=".xlsx"]:after,
#postArticle a[href$=".xls"]:after {
    background-position: -70px -115px
}
#postArticle a[href$=".pptx"]:after,
#postArticle a[href$=".ppt"]:after{
    background-position: -105px -115px
}
#postArticle a[href$=".zip"]:after {
    background-position: -140px -115px
}
#postArticle a.link:before {
    width: 4px;
    height: 7px;
    margin-top: -3px;
    margin-left: 2px;
    margin-right: 5px;
    background: url(../img/parts_sp.png) no-repeat -172px 0;
    background-size: 250px auto;
}
#postArticle a.largeLink:before {
    width: 11px;
    height: 11px;
    margin-top: -2px;
    margin-right: 4px;
    background: url(../img/parts_sp.png) no-repeat -181px 0;
    background-size: 250px auto;
}
#postArticle .quotation .source {
    text-align: left;
}
#postArticle .address {
    padding: 18px 20px;
}
#postArticle .figure.left {
    width: 53.1%;
    padding-right: 3.1%;
    margin: 0 auto;
}
#postArticle .figure.right {
    width: 53.1%;
    padding-left: 3.1%;
    margin: 0 auto;
}
#postArticle .figure .image.sizeL {
    width: 100%;
}
#postArticle .figure .image.sizeM {
    width: 70%;
}
#postArticle .figure .image.sizeS {
    width: 50%;
}
#postArticle .figure.left .image,
#postArticle .figure.right .image {
    width: 100%;
}
#postArticle .figure.left .figcaption,
#postArticle .figure.right .figcaption {
    text-align: center;
}
dl.faq dd {
    padding: 16px 16px 16px 37px;
}
.pageNav a,
#postArticle .pageNav a,
.pageNav .pageNavContent:first-child a,
#postArticle .pageNav .pageNavContent:first-child a,
.pageNav.hasImage a,
#postArticle .pageNav.hasImage a,
.pageNav.hasImage .pageNavContent:first-child a,
#postArticle .pageNav.hasImage .pageNavContent:first-child a {
    padding: 12px 16px;
}
.pageNav a:hover,
#postArticle .pageNav a:hover {
    background: inherit;
    text-decoration: none;
}
.pageNav.hasImage .navText {
    float: none;
}
.pageNav .navText {
    text-align: center;
}
.pageNav.hasImage .navText {
    display: none;
}
.pageNav .postDate {
    display: none;
}
.pageNav .postDateSp {
    display: block;
    text-align: center;
}
.pageNav figure,
.pageNav .pageNavContent:first-child figure {
    width: auto;
    padding: 0;
    text-align: center;
    float: none;
}
.pageNav figure img {
    width: 100%;
}


#sideNavi {
    width: auto;
    border-bottom: solid 2px #dfdede;
    float: none;
}
#sideNavi a {
    color: inherit;
}
#sideNavi h3 {
    padding: 18px 15px 16px;
    border-top: solid 3px #4f9cb8;
    font-size: 1.6em;
    text-align: center;
}
#sideNavi p,
#sideNavi dl {
    padding: 0;
    border-bottom: none;
}
#sideNavi.news p,
#sideNavi.news dt {
    padding: 0;
    color: inherit;
}
#sideNavi.news dl dt.active {
    background: inherit;
}
#sideNavi.news p a,
#sideNavi.news dt a {
    display: table-cell;
}
#sideNavi.news p a:before,
#sideNavi.news dt a:before,
#sideNavi.news dt:before {
    display: none;
}
#sideNavi.news dd {
    padding: 0;
}
#sideNavi p,
#sideNavi dl dt,
#sideNavi dl dd li {
    display: table;
    width: 100%;
    position: relative;
}
#sideNavi p a,
#sideNavi dl dt span,
#sideNavi dl dd li a,
#sideNavi dl dd li span,
#sideNavi.news dd ul li a {
    display: table-cell;
    height: 45px;
    padding: 0 18px;
    border-bottom: solid 1px #d6d6d6;
    vertical-align: middle;
}
#sideNavi dl dd li span {
    color: #999;
}
#sideNavi p a:after,
#sideNavi dl dd li a:after,
#sideNavi dl dd li span:after {
    content: "";
    display: block;
    width: 6px;
    height: 10px;
    margin-top: -5px;
    background: url(../img/parts_sp.png) no-repeat -172px -25px;
    background-size: 250px auto;
    position: absolute;
    right: 16px;
    top: 50%;
}
#sideNavi.news p a:after,
#sideNavi.news dl dd li a:after,
#sideNavi.news dl dd li span:after {
    width: 5px;
    height: 10px;
    margin-top: -5px;
    background: url(../img/parts_sp.png) no-repeat -172px -40px;
    background-size: 250px auto;
}
#sideNavi dl dd li span:after {
    background-position: -160px -25px;
}
#sideNavi dl dt span:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    background: url(../img/parts_sp.png) no-repeat -82px -25px;
    background-size: 250px auto;
    position: absolute;
    right: 15px;
    top: 50%;
}
#sideNavi dl dt.active span:after {
    background-position: -94px -25px;
}
#sideNavi p,
#sideNavi dt {
    font-size: 1.4em;
}
#sideNavi dt {
    margin-bottom: 0;
    cursor: pointer;
}
#sideNavi dl dd {
    display: none;
    background: #f5f5f5;
}
#sideNavi dl dt.active + dd {
    display: block;
}
#sideNavi dd ul li {
    margin-left: 0;
    margin-bottom: 0;
}
#sideNavi dd ul li:before {
    display: none;
}




/* footer
--------------------------------------*/
body > footer {
    font-size: 1.2em;
}
#footerAboutSection {
    padding: 32px 15px 30px;
}
#footerAboutSection .addressArea {
    margin-bottom: 15px;
    float: none;
}
#footerAboutSection .addressArea h2 {
    margin-bottom: 15px;
}
#footerAboutSection .addressArea h2 img {
    width: 111px;
}
#footerAboutSection .addressArea .link {
    width: 107px;
    margin-bottom: 14px;
}
#footerAboutSection .addressArea .toAccess {
    margin-bottom: 10px;
}
#footerAboutSection .mapArea {
    float: none;
}
#footerAboutSection .mapArea .map {
    margin-bottom: 10px;
    padding-bottom: 51.72%;
    position: relative;
}
#footerAboutSection .mapArea .map iframe {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#footerAboutSection .mapArea .link {
    margin-bottom: 28px;
    text-align: center;
}
#footerAboutSection .mapArea .link .pc {
    display: none;
}
#footerAboutSection .mapArea .link .sp {
    display: inline;
}
#pageTop {
    position: fixed;
    right: 5px;
    bottom: 15px;
}
#pageTop a {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../img/parts_sp.png);
    background-repeat: no-repeat;
    background-position: -197px 0;
    background-size: 250px auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#footerLinks {
    padding: 0;
}
#footerLinks::after {
    content: "";
    display: block;
    clear: both;
}
#footerLinks li {
    display: table;
    width: 50%;
    padding: 0;
    float: left;
    position: relative;
}
#footerLinks li:nth-child(2n+1) {
    border-right: solid 1px #dfdede;
}
#footerLinks li:nth-child(n+3) {
    border-top: solid 1px #dfdede;
}
#footerLinks li a {
    display: table-cell;
    height: 50px;
    padding-left: 15px;
    color: #333;
    text-align: left;
    vertical-align: middle;
}
#footerLinks li a::after {
    content: "";
    width: 6px;
    height: 10px;
    margin-top: -5px;
    background-image: url(../img/parts_sp.png);
    background-repeat: no-repeat;
    background-position: -172px -25px;
    background-size: 250px auto;
    position: absolute;
    right: 10px;
    top: 50%;
}
#copyright {
    padding: 15px;
    text-align: center;
}
#copyright small {
    font-size: 0.83em;
}
#copyright small span {
    white-space: nowrap;
}

/* common styles
--------------------------------------*/
.arrowLink {
    padding-left: 10px;
}
.arrowLink:before {
    width: 6px;
    height: 10px;
    margin-top: -5px;
    background-image: url(../img/parts_sp.png);
    background-repeat: no-repeat;
    background-position: -172px -25px;
    background-size: 250px auto;
}
main a[target="_blank"],
body > footer a[target="_blank"] {
    padding-left: 23px;
}
main a[target="_blank"]:before,
body > footer a[target="_blank"]:before {
    content: "";
    display: inline-block;
    background-image: url(../img/parts_sp.png);
    background-repeat: no-repeat;
    background-position: -62px -25px;
    background-size: 250px auto;
}
#footerAboutSection .facebook {
    width: 100%;
    text-align: center;
    float: none;
}


}